<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img
          src="../../assets/technical-support.png"
          alt="Logo"
          width="40"
          height="40"
          class="d-inline-block align-text-top"
        />
        <h3 class="m-2">Zajebisty serwis </h3>
      </a>
      <div class="date d-flex">
        <h4 class="m-2">{{ date }}</h4>
        <h4 class="m-2">{{ time }}</h4>
      </div>
    </div>
  </nav>
</header>
