<!-- Układ elementów do zmiany -->
<div class="error" *ngIf="messageState">{{ message }}</div>

<div class="customers">
  <ul class="customers__list" *ngIf="customersArray.length > 0">
    <li class="customers__list--tile">
        <p>Kod</p>
        <p>Imie</p>
        <p>Telefon</p>
        <p>Email</p>
    </li>

    <li *ngFor="let customer of customersArray; index as i">
      <div class="customers__list--tile">
        <p>{{ customer.userCode }}</p>
        <p>{{ customer.name }}</p>
        <p>{{ customer.phone }}</p>
        <p *ngIf="customer.email; else noEmail">{{ customer.email }}</p>
        <button class="deleteButton" type="button" (click)="deleteUser(i)"><mat-icon>close</mat-icon></button>
      </div>
    </li>
  </ul>


  <button class="addButton" style="margin-top: 400px;" type="button" *ngIf="customersArray.length == 0" 
    (click)="openDialog()">Dodaj klienta</button>

  <button class="addButton" style="margin-bottom: 2rem;" type="button" *ngIf="customersArray.length > 0" 
    (click)="openDialog()">Dodaj klienta</button>
</div>

<ng-template #noEmail>
    <p>BRAK</p>
</ng-template>
