<!-- Układ elementów do zmiany -->
<div class="error" *ngIf="errorMessage">Błąd, użytkownik o podanym kodzie już istnieje</div>

<ul class="user-list">
    <li *ngFor="let customer of customersArray">
        <div style="border: 1px solid black; margin: 1rem;">
            <p>Imie: {{ customer.name }}</p>
            <p>Telefon: {{ customer.phone }}</p>
            <p *ngIf="customer.email">Email: {{ customer.email }}</p>
        </div>
    </li>
</ul>

<form [formGroup]="customerForm">
    <label for="user-code">Kod użytkownika</label>
    <input id="user-code" type="text" formControlName="userCode">

    <label for="user-name">Imie</label>
    <input id="user-name" type="text" formControlName="name">

    <label for="user-email">Email</label>
    <input id="user-email" type="text" formControlName="email">

    <label for="user-phone">Nr telefonu</label>
    <input id="user-phone" type="text" formControlName="phone">

    <button [disabled]="!customerForm.valid" (click)="addUser()">Dodaj</button>
</form>