<!-- Układ elementów do zmiany -->
<div class="error" *ngIf="messageState">{{ message }}</div>

<div class="customers">
  <ul class="customers__list" *ngIf="customersArray.length > 0">
    <li class="customers__list--tile">
        <p>Kod</p>
        <p>Imie</p>
        <p>Telefon</p>
        <p>Email</p>
    </li>

    <li *ngFor="let customer of customersArray; index as i">
      <div class="customers__list--tile">
        <p>{{ customer.userCode }}</p>
        <p>{{ customer.name }}</p>
        <p>{{ customer.phone }}</p>
        <p *ngIf="customer.email; else noEmail">{{ customer.email }}</p>
        <button class="deleteButton" type="button" (click)="deleteUser(i)"><mat-icon>close</mat-icon></button>
      </div>
    </li>
  </ul>

  <!-- <form [formGroup]="customerForm" *ngIf="customersArray.length === 0 || showForm" class="customer__form">
    <label for="user-code">Kod użytkownika</label>
    <input id="user-code" type="text" formControlName="userCode" />

    <label for="user-name">Imie</label>
    <input id="user-name" type="text" formControlName="name" />

    <label for="user-email">Email</label>
    <input id="user-email" type="text" formControlName="email" />

    <label for="user-phone">Nr telefonu</label>
    <input id="user-phone" type="text" formControlName="phone" />

    <button [disabled]="!customerForm.valid" (click)="addUser()">Dodaj</button>
  </form> -->

  <button class="addButton" type="button" *ngIf="customersArray.length > 0" 
    (click)="openDialog()">Add Customer</button>
</div>

<ng-template #noEmail>
    <p>BRAK</p>
</ng-template>
